/*html{
    border: 10px solid #3b3a36
}*/

body {
  background-color: #b3c2bf;
  margin: 0px;
  color: #3b3a36;
}
.container-title {
  background-color: #e9ece5;
  /*border: 3px solid black*/
}
#title {
  font-size: 25px;
  padding-top: 15px;
  margin-left: 20px;
  font-weight: bold;
  /*margin: 30px;*/
  font-family: 'Montserrat', sans-serif;
  /*border: 2px solid black*/
}
#sub-title {
  margin-top: 5px;
  font-size: 15px;
  margin: 15px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 8px;
  font-style: italic;
  background-color: #c0dfd9;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 10;
}
#start, #stop, #instructions {
  display: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}
#start, #stop {
  padding: 5px;
  background-color: #b3c2bf
}
#timer {
  border: 1px solid black;
  width: 40px;
  /*height: 50px;*/
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  display: inline-block;
  margin-left: 25px;
  border-radius: 10px;
  background-color: #e9ece5
}
#piano-container {
  margin: 25px;
  /*border: 1px solid black;*/
  display: inline-block;
}
.white-button {
  background-color: white;
  width: 25px;
  height: 100px;
  margin: 2px;
  display: inline-block;
  /*position: absolute;*/
  border-radius: 3px;
  position: relative;
  /*position: absolute;*/
}
.white-keyboard {
  color: black;
  font-size: 20px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-style: italic;
}
.black-button {
  background-color: #3b3a36;
  width: 20px;
  height: 50px;
  z-index: 2;
  display: inline-block;
  position: absolute;
  border-radius: 5px;
  color: lightgrey;
  font-size: 15px;
  text-align: center;
  font-style: italic;
  padding-top: 5px;
  /*margin-bottom: 100px;*/
}
#black-key-0 {
  left: 50px
}
#black-key-1 {
  left: 85px
}
#black-key-2 {
  left: 147px
}
#black-key-3 {
  left: 180px
}
#black-key-4 {
  left: 213px
}
#last-five-container {
  /*border: 2px solid blue;*/
  display: inline-block;
  font-size: 15px;
  height: 100%;
  width: 20%;
  /*width: 300px;*/
  overflow-y: scroll;
  /*float: right;*/
  margin-top: 25px;
  /*margin-right: 50px;*/
  position: absolute;
  right: 0px;
  top: 71px;
  background-color: #c0dfd9;
  /*border: 2px solid black*/
  border-left: 2px solid black;
}
.top-five {
  margin: 10px;
}
.image {
  background-color: #3b3a36;
  width: 90%;
  height: 20px;
  opacity: 0.6;
  color: white;
  font-size: 15px;
  transition: background-color 0.3s ease;
  text-align: center;
  overflow: hidden;
}
.image:hover {
  background-color: #e9ece5
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#recently-played{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;

}

#alert{
  font-size: 30px;
  font-weight: bolder;
  margin: 40px;
  display: none
}
/*@media screen and (min-width: 320px) {
  #non-mobile {
    display: normal;
  }
}*/

@media screen and (max-width: 680px) {
  #non-mobile{
   display: none;

 }
 #alert{
   display: block;
 }
}

/*@media screen and (min-height: 200px) {
  #non-mobile {
    display: normal;
  }
}*/
  @media screen and (max-height: 500px) {
     #non-mobile{
      display: none;

    }
    #alert{
      display: block;
    }
  }
