body{
  background-color: grey;
}

#stop{
  display: none;
}

#timer{
border: 2px solid black;
width: 150px;
height: 50px;
margin: 10px;

font-size: 30px;
}

.white-button{
  background-color: white;
  width: 35px;
  height: 150px;
  margin: 1px;
  display: inline-block;

}

.black-button{
  background-color: black;
  width:20px;
  height: 75px;
  z-index: 2;
  display: inline-block;
  position: absolute;

}
